.footer{
    position: fixed;
    bottom: 0;
    height: 80px;
    background-color: rgba(114, 126, 126, 0.6);
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}